<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="/app/prd/styles/app.css">
</head>
<body>

	<div ng-controller="myCont" class="cont">
		<input type="text" placeholder="Search Firstname" ng-model="searchOne">
		<input type="text" placeholder="Search Lastname" ng-model="searchTwo">
		<table>
			<thead>
				<tr>
					<td ng-click="title='firstname';desc=!desc;a='false';b=!b;add()">Firstname <span ng-class="{true:'up',false:'down'}[b]" ng-if="a"></span></td>
					<td ng-click="title='lastname';desc=!desc;c='false';b2=!b2;add2()">Lastname <span ng-class="{true:'up',false:'down'}[b2]" ng-if="c"></span></td>
					<td ng-click="title='gender';desc=!desc;d='false';b3=!b4;add3()">Gender <span ng-class="{true:'up',false:'down'}[b3]" ng-if="d"></span></td>
					<td ng-click="title='salary';desc=!desc;e='false';b4=!b4;add4()">Salary <span ng-class="{true:'up',false:'down'}[b4]" ng-if="e"></span></td>
					<td ng-click="title='salary';desc=!desc;f='false';b5=!b5;add5()">Salary <span ng-class="{true:'up',false:'down'}[b5]" ng-if="f"></span></td>
					<td ng-click="title='birthday';desc=!desc;g='false';b6=!b6;add6()">Birthday <span ng-class="{true:'up',false:'down'}[b6]" ng-if="g"></span></td>
				</tr>
			</thead>	
			<tbody>
				<tr ng-repeat="x in views | filter:searchOne | filter:searchTwo  | orderBy: title : desc">
					<td>{{x.firstname}}</td>
					<td>{{x.lastname}}</td>
					<td>{{x.gender}}</td>
					<td>{{x.salary | currency:""}}</td>
					<td>{{x.salary | currency:"￥"  }}</td>
					<td>{{x.birthday | date:"yyyy-MM-dd"}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<script src="/app/libs/jquery-2.1.1.min.js"></script>
	<script src="/app/libs/angular.min.js"></script>
	<script src="/app/prd/scripts/app.js"></script>
</body>
</html>